@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

body {
  background-color: #ffffff;
  margin: 5.5em 5em 1em;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

@media screen and (max-width: 808px) {
  body {
    margin: 5.5em 1em 1em;
  }
}
